body {
    background-color: black;
    color: white;
    font-family: Calibri;
}

p {
    text-align: center;
    margin: auto;
    font-size: x-large;
}

.hex {
    fill: white;
    stroke: grey;
    stroke-width: 1px;
}

.hex_watter {
    fill: dodgerblue;
}

.hex_rocks {
    fill: slategray;
}